/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__image {
  width: 100%;
}

.header__info {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .header {
    text-align: center;
  }

}

.main__inner {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 15px auto 0;
}

.task-section__input_text {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.task-section {
  display: flex;
  flex-wrap: wrap;
}

.task-section__heading {
  width: 100%;
  list-style: none;
}

.task-section__input-text,
.task-section__button {
  outline: none;
}

/* Heading */
.task-section__heading {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 25px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.add {
  margin: 20px 0 20px;
}

.task-section__input-text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 19px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.task-section__input-text:focus {
  color: #333;
}

/* Task list */
.task-section__list-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-section__input-checkbox {
  margin: 0 10px;
}

.task-section__input-text {
  width: 100%;
}

.task-section__image {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.task-section__image:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task-section__input-text_disabled {
  display: none;
}

.task-section__label {
  display: unset;
  width: 100%;
  padding-left: 10px;
  font-size: 18px;
}

.task-section__label_disabled {
  display: none;
}

.task-section__inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.task-section__list {
  margin: 0;
  padding: 0;
  width: 100%;
}

.task-section__button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  flex-shrink: 0;
  cursor: pointer;
  text-decoration: none;
}

.task-section__button:hover {
  color: #3a3a3a;
}